<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>FOGA | Confección Textil</title>
    <%- include
        ('partials/head.html')
        %>
</head>

<body>
    <%- include
        ('partials/navigation.html')
        %>

        <div class="jumbotron jumbo-picture jumbo-confeccion text-center">
            <h1 class="p-5 m-5 display-4">CONFECCIÓN TEXTIL</h1>
        </div>

        <div class="jumbotron container">
            <h1 class="display-4">Servicio de Confección Textil</h1>
            <p class="lead">Experiencia dedicada a la Fabricación y Venta de Ropa Industrial y Uniformes. Contamos con profesionales especializados y en constante capacitación con el objetivo de brindarle a nuestros clientes modelos únicos y de excelente calidad. Cumplimos con todas las normativas y estándares de calidad.</p>
            <hr class="my-4">
            <p></p>
            <a class="btn btn-primary btn-lg"
                target="_blank"
                href="https://api.whatsapp.com/send?phone=51954600050&text=Hola!%20Quisiera%20m%C3%A1s%20informaci%C3%B3n."
                role="button">Contacto</a>
        </div>



        <%- include
            ('partials/footer.html')
            %>
</body>

</html>