<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>FOGA | Licitaciones</title>
    <%- include
        ('partials/head.html')
        %>
</head>

<body>
    <%- include
        ('partials/navigation.html')
        %>

        <div class="jumbotron jumbo-picture jumbo-licitaciones text-center">
            <h1 class="p-5 m-5 display-4 animate__animated animate__fadeInLeft">LICITACIONES</h1>
        </div>

        <div class="jumbotron container animate__animated animate__fadeInUp">
            <h1 class="display-4">Servicio de Licitaciones en General</h1>
            <p class="lead">Somos especialistas en el rubro de las licitaciones , con experiencia y calidad en el cumplimiento de los requerimientos solicitados.</p>
            <hr class="my-4">
            <p></p>
            <a class="btn btn-primary btn-lg"
                target="_blank"
                href="https://api.whatsapp.com/send?phone=51965354124&text=Hola!%20Quisiera%20m%C3%A1s%20informaci%C3%B3n."
                role="button">Contacto</a>
        </div>



        <%- include
            ('partials/footer.html')
            %>
</body>

</html>